@for $i from 0 to 9 {
    $x: $i * 4;

    .m-#{$x} {
      margin: $x * 1px;
    }
    .mt-#{$x} {
      margin-top: $x * 1px;
    }
    .mr-#{$x} {
      margin-right: $x * 1px;
    }
    .mb-#{$x} {
      margin-bottom: $x * 1px;
    }
    .ml-#{$x} {
      margin-left: $x * 1px;
    }
}