@for $i from 0 to 9 {
  $x: $i * 4;

  .p-#{$x} {
    padding: $x * 1px;
  }
  .pt-#{$x} {
    padding-top: $x * 1px;
  }
  .pr-#{$x} {
    padding-right: $x * 1px;
  }
  .pb-#{$x} {
    padding-bottom: $x * 1px;
  }
  .pl-#{$x} {
    padding-left: $x * 1px;
  }
}
