@mixin alert ($color) {
    border:             1px solid $color;
    background-color:   lighten($color, 10%);
    color:              darken($color, 50%);
    font-weight:        700;
    padding:            12px;
    text-transform:     uppercase;
}

@mixin box-shadow {
    box-shadow:         0 0 10px $black-30;
}

@mixin btn{
    border-radius:      (2 * $spacing);
    text-transform:     uppercase;
    cursor:             pointer;
    width:              100%;
    margin-top:         (3 * $spacing);
    padding:            (2 * $spacing);
    font-weight:        700;
    text-align:         center;
    text-decoration:    none;
    display:            inline-block;
    color:            white;
}
@mixin btn-color($color) {
    background:         $color;
    border:             1px solid $color;
    transition: .3s ease-in-out;
    
    &:hover{
        background-color: darken($color, 20%);
        transition: .3s ease-in-out;
    }
}

@mixin btn-size($scale) {
    font-size:          ($scale * 1em);    
    padding:            (4 * $spacing * $scale) 0;
}