.btn{
    @include btn
}

.btn-primary {
    @include btn-color($primary-color)
}

.btn-secondary {
    @include btn-color($secondary-color)
}

.btn-small{
    @include btn-size(0.5)
}

.btn-medium{
    @include btn-size(1)
}

.btn-large{
    @include btn-size(2)
}