@import '../abstract/variables';
@import '../abstract/mixins';

@import '../components/buttons';
@import '../components/alert';

@import '../utils/margin';
@import '../utils/padding';



* {
    font-family:                "Roboto", sans-serif;
  }
  
  .container {
    display:                    grid;
    grid-template-columns:      repeat(2, 1fr);
  }
  
  .map {
    position:                   sticky !important;
    top:                        0;
    height:                     100vh;
  }
  
  .field-cards {
    display:                    flex;
    flex-wrap:                  wrap;
    justify-content:            space-evenly;
    .card {
        @include box-shadow;
        border:                 1px solid $black-30;
        border-radius:          (2 * $spacing);
        width:                  300px;
        p{
            text-align:         justify;
        }
      }
  }  
  .active {
    background:               $secondary-color;
  }
  .popup .leaflet-popup-content-wrapper {
    background:               $secondary-color;
  }
  